body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding-left: 50px;
  padding-right: 50px;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
img {
  width: 27%;
  height: auto;
  float: right;
}
.auto-width {
  width: auto;
}
.width-90 {
  width: 90%;
}
.center {
  margin: auto;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.right {
  text-align: right;
}

.img-right {
  text-align: right;
  padding-right: 10px;
}

.title {
  text-align: center;
}
