body {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding-left:50px;
  padding-right:50px;
}

h1 {
  font-size: 60px;
}
h2 {
  font-size: 30px;
}
img {
  width: 60%;
  height: auto;
}
.auto-width {
  width: auto;
}
.width-60 {
  width: 60%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.right {
  text-align: right;
}

.img-right {
  text-align: right;
  padding-right:10px;
}
